.navBar {
  background-color: var(--white);
  width: 93px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  object-fit: contain;
  margin-top: 52px;
  cursor: pointer;
}

.navigationItems {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.navigationItems li {
  cursor: pointer;
}

.shoppingCartContiner {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navBar {
    width: 61px;
  }
}
