.shoppingList {
  width: 100%;
  height: 100%;
  background-color: var(--shopping-list-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItemBackground {
  width: 80%;
  height: 130px;
  border-radius: 24px;
  background-color: var(--add-item-background);
  margin-top: 43px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.addItemImageContainer {
  width: 104px;
  height: 118px;
  position: relative;
  display: inline-block;
  bottom: 18px;
  left: 12px;
}

.addItemDescription {
  font-weight: 700;
  color: var(--white);
  font-size: var(--m-font);
}

.addItemButton {
  margin-top: 14px;
}

.emptyListText {
  font-weight: 700;
  font-size: var(--xl-font);
  text-align: center;
  margin-top: 222px;
}
.emptyShoppingListImage {
  width: 245px;
  height: 203px;
  position: absolute;
  bottom: 119px;
  z-index: 1;
}
.inputBackground {
  width: 100%;
  height: 131px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.inputContainer {
  width: 80%;
}

@media only screen and (max-width: 992px) {
  .addItemBackground {
    width: 83%;
    height: 119px;
    margin-top: 25px;
    gap: 20px;
  }
  .addItemImageContainer {
    left: 0;
  }
  .addItemButton {
    margin-top: 12px;
    width: 110px;
    height: 37px;
  }
  .emptyShoppingListImage {
    width: 90%;
  }
  .emptyListText {
    margin-top: 100px;
  }
}
