:root {
  /*colors*/
  --main-bg-color: #fafafe;
  --white: #ffffff;
  --orange: #f9a109;
  --gray: #454545;
  --title-color: #34333a;
  --search-input-placeholder-color: #bdbdbd;

  --xl-font: 26px;
  --l-font: 18px;
  --m-font: 16px;
  --s-font: 14px;
  --xs-font: 12px;

  --search-input-shadow: 0px 2px 12px 0px #0000000a;
  --shopping-item-shadow: 0px 2px 12px 0px #0000000d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.global-container {
  margin-left: 93px;
  margin-right: 389px;
}

@media only screen and (max-width: 600px) {
  .global-container {
    margin-left: 61px;
    margin-right: 0px;
  }
}
