:root {
  /*colors*/
  --main-bg-color: #fafafe;
  --white: #ffffff;
  --primary: #f9a109;
  --gray: #454545;
  --title-color: #34333a;
  --search-input-placeholder-color: #bdbdbd;
  --category-list-border-color: #e0e0e0;
  --category-item-hovered: #f2f2f2;
  --shopping-list-background: #fff0de;
  --add-item-background: #80485b;
  --shopping-list-disabled: #c1c1c4;
  --complete-background: #56ccf2;
  --danger-background: #eb5757;
  --success: #57eb57;
  /*font sizes*/
  --xxxl-font: 26px;
  --xxl-font: 24px;
  --xl-font: 20px;
  --l-font: 18px;
  --m-font: 16px;
  --s-font: 14px;
  --xs-font: 12px;

  --search-input-shadow: 0px 2px 12px 0px #0000000a;
  --shopping-item-shadow: 0px 2px 12px 0px #0000000d;

  --mobile-nav-bar-width: 16%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input,
textarea {
  font-family: inherit;
}

.global-container {
  margin-left: 93px;
  margin-right: 27%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--category-list-border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--search-input-placeholder-color);
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .global-container {
    margin-left: var(--mobile-nav-bar-width);
    margin-right: 0px;
  }
}
