:root {
  /*colors*/
  --main-bg-color: #fafafe;
  --white: #ffffff;
  --orange: #f9a109;
  --gray: #454545;
  --title-color: #34333a;
  --search-input-placeholder-color: #bdbdbd;
  --shopping-list-background: #fff0de;
  --add-item-background: #80485b;
  --shopping-list-disabled: #c1c1c4;

  --xxl-font: 26px;
  --xl-font: 20px;
  --l-font: 18px;
  --m-font: 16px;
  --s-font: 14px;
  --xs-font: 12px;

  --search-input-shadow: 0px 2px 12px 0px #0000000a;
  --shopping-item-shadow: 0px 2px 12px 0px #0000000d;

  --mobile-nav-bar-width: 16%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: inherit;
}

.global-container {
  margin-left: 93px;
  margin-right: 27%;
}

@media only screen and (max-width: 992px) {
  .global-container {
    margin-left: var(--mobile-nav-bar-width);
    margin-right: 0px;
  }
}
