.home {
  margin-left: 80px;
  margin-right: 89px;
}

.homeTitle {
  font-size: var(--xl-font);
  color: var(--title-color);
  font-weight: 500;
  line-height: 32.5px;
  display: inline-block;
  width: 450px;
}

.homeTitle span {
  color: var(--orange);
  font-weight: 700;
}

.topSectionContiner {
  display: flex;
  justify-content: space-between;
  height: 76px;
  margin-top: 27px;
}

.homeTitle {
  align-self: flex-end;
}

.searchInputContiner {
  align-self: flex-start;
}
