.shoppingItem {
  display: flex;
  justify-content: space-between;
  width: 182px;
  height: auto;
  padding: 15px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--shopping-item-shadow);
}

.shoppingItemText {
  max-width: 127px;
  font-size: var(--m-font);
  font-weight: 600;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  .shoppingItem {
    width: 140px;
  }

  .shoppingItemText {
    max-width: 76px;
    font-size: var(--s-font);
  }
}
