.sideBar {
  width: 27%;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .sideBar {
    right: -27%;
  }
  .open {
    right: 0;
    width: 84%;
  }
}
