.sideBar {
  width: 27%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

@media only screen and (max-width: 992px) {
  .sideBar {
    right: -300px;
  }
  .open {
    right: 0;
    width: 84%;
  }
}
