.addItemFormContainer {
  margin-top: 34px;
  text-align: left;
}

.formTitle {
  font-size: var(--xxl-font);
}

.addItemForm {
  margin-top: 34px;
  margin-right: 40px;
}
.inputContainer {
  margin-top: 18px;
}
.buttonsContainer {
  width: 100%;
  position: absolute;
  bottom: 35px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
