.addItemFormContainer {
  margin-top: 34px;
  text-align: left;
}

.formTitle {
  font-size: var(--xxl-font);
}

.addItemForm {
  margin-top: 34px;
  margin-right: 40px;
}
.inputContainer {
  margin-top: 18px;
}
.label {
  color: var(--title-color);
  font-size: var(--s-font);
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}
