.addItemFormContainer {
  padding-top: 34px;
  text-align: left;
  background-color: var(--main-bg-color);
  min-height: 100%;
}

.formTitle {
  font-size: var(--xxl-font);
}

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-right: 40px;
  height: 100%;
}
.inputContainer {
  margin-top: 18px;
  width: 100%;
}
.buttonsContainer {
  position: fixed;
  bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.formMessage {
  text-align: center;
  font-weight: 700;
}
.error {
  color: var(--danger);
}
.success {
  color: var(--success);
}
@media only screen and (max-width: 992px) {
  .addItemForm {
    margin-right: 10px;
    margin-left: 10px;
  }
  .formTitle {
    margin-left: 10px;
  }
  .buttonsContainer {
    gap: 20px;
  }
}
@media (max-height: 670px) {
  .buttonsContainer {
    position: static;
    margin-top: 40px;
  }
}
