.modalTextContent {
  font-size: var(--xxl-font);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 35px;
}
.cancelListModalContainer {
  max-width: 508px;
}
.cancelListModalActions {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 992px) {
  .modalTextContent {
    font-size: var(--xl-font);
    margin-bottom: 20px;
  }
}
