.shoppingItemCountControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCount {
  border: 2px solid var(--primary);
  width: 68px;
  height: 32px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--xs-font);
  font-weight: 700;
  color: var(--primary);
}

.itemCountControls {
  width: 173.56px;
  height: 44.9px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.itemCountControls:hover {
  background-color: var(--white);
}

.itemCountControls:hover .deleteIconBackground {
  opacity: 1;
}

.itemCountControls:hover img {
  opacity: 1;
}
.deleteIconBackground {
  background-color: var(--primary);
  padding: 12px 10px;
  border-radius: 12px;
  opacity: 0;
  transition: 0.3s;
}

.itemCountControls img {
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.disabledImage {
  pointer-events: none;
}

.itemCountControls:has(.disabledImage) {
  cursor: not-allowed;
}
