.shoppingItemCountControl {
  display: flex;
  justify-content: space-between;
}

.itemName {
  font-size: var(--l-font);
  font-weight: 500;
}

.itemCount {
  border: 2px solid var(--primary);
  width: 68px;
  height: 32px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--xs-font);
  font-weight: 700;
  color: var(--primary);
}

.itemCountControls {
  width: 173.56px;
  height: 44.9px;
  border-radius: 12px;
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
